@font-face {
    font-family: 'Stilu';
    src: url('../fuentes/Stilu.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
 }

@font-face {
    font-family: 'Geomanist';
    src: url('../fuentes/Geomanist.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }

html {
    box-sizing: border-box;
    display: flex;
  }

body {
    background: url(../images/background.png) center/cover no-repeat;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr auto;
    position: relative;
}

header {
    background-color: antiquewhite;
    border: solid blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: fit-content;
    margin-left: 5%;
    margin-right: 40px;
    border-radius: 6px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20%;
}

footer {
    border: double darkblue;
    width: fit-content;    
    justify-self: center;
    margin-top: 10%;
    margin-left: 17%;
    color: blue;
}

main {
    background-color: darkcyan;
    border-radius: 8px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
}

li {
    list-style-type: none;
}

p {
    font-family: 'Geomanist';
    color: navajowhite;
    margin-left: 8px;
    margin-right: 8px;
}

h1, h2, h3 {
    font-family: 'Stilu';
    color: darkorange;
    font-weight: bold;
    text-align: center;
}

#area1::before,
#area2::before,
#area3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#area1::before {
    background: linear-gradient(to right, azure, aquamarine);
    opacity: 0.2;
}

#area2::before {
    background: linear-gradient(to right, aquamarine, aqua);
    opacity: 0.2;
}

#area3::before {
    background: linear-gradient(to right, aqua, green);
    opacity: 0.2;
}

header, main, footer {
    position: relative;
    z-index: 1;
}

#contactanos, #sdlcList {
    display: none;
    z-index: 2;
}

#sdlc {
    position: absolute;
    top: 1%;
    right: 35%;
}

#quienes_somos {
    position: absolute;
    top: 1%;
    right: 55%;
}

#contactanos {
    background-color: navajowhite;
    position: absolute;
    top: 6%;
    right: 56%;
    padding: 0;
    border: double;
    border-radius: 6px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

#sdlcList {
    background-color: navajowhite;
    position: absolute;
    top: 6%;
    right: 20%;
    padding: 0;
    border: double;
    border-radius: 6px;
	box-shadow: inset 3px 3px 3px rgba(255,255,255,.7), inset -2px -2px 3px rgba(0,0,0,.1), 2px 2px 10px rgba(0,0,0,.1);
	text-shadow: 1px 1px 1px rgba(255,255,255,.9);
}

footer h3 {
    background: linear-gradient(to right, #ff8c00, #ff2d00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}